$font-family-base: "Open Sans";

$container-max-width: 950px;

$background-image-url: "bg_tile_102x102.jpg";

$text-shadow-color: rgba(255,255,255,.4);

$color-dark: #333;
$border-color: #a6a6a6;

$bundle-padding: 30px;
$product-height: 274px;
$product-width: 305px;
$product-description-width: 280px;

$product-details-border-color: #cdcdcd;

$xs-offset: 10px;
$sm-offset: 15px;
$md-offset: 25px;

$media-width: 970px;
$media-product-width: 280px;
$media-product-height: 286px;