.bundle-container {
  margin-top: 45px;
  margin-bottom: 65px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #e1e1e1;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3), inset 0 1px rgba(255,255,255,.5);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3), inset 0 1px rgba(255,255,255,.5);
  box-shadow: 0 1px 3px rgba(0,0,0,.3), inset 0 1px rgba(255,255,255,.5);
}

.bundle-container .slider-container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: inset 0 1px rgba(255,255,255,.45);
  -moz-box-shadow: inset 0 1px rgba(255,255,255,.45);
  box-shadow: inset 0 1px rgba(255,255,255,.45);
  background-color: #e6e6e6;
  border-top: 1px solid #c1c1c1;
  padding: 16px 30px 28px 30px;
}