.promo-container {
  max-width: 950px;
  margin: 0 auto;
}

.features-list {
  margin: 0 186px 0 23px;
}

.features-list li {
  margin: 8px 0px;
}

.features-list li span {
  padding: 0 6px;
  font-size: 14px;
  line-height: 17px;
  color: #333;
}

.bundle-container {
  margin-top: 45px;
  margin-bottom: 65px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #e1e1e1;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3), inset 0 1px rgba(255,255,255,.5);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3), inset 0 1px rgba(255,255,255,.5);
  box-shadow: 0 1px 3px rgba(0,0,0,.3), inset 0 1px rgba(255,255,255,.5);
}

.bundle-container .slider-container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: inset 0 1px rgba(255,255,255,.45);
  -moz-box-shadow: inset 0 1px rgba(255,255,255,.45);
  box-shadow: inset 0 1px rgba(255,255,255,.45);
  background-color: #e6e6e6;
  border-top: 1px solid #c1c1c1;
  padding: 20px 30px 28px 30px;
}

.slider-container .price {
  width: 50px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

.slider-container .slider-popover {
  top: 14px;
}

.slider-container .slider-popover .slider-popover-tip {
  padding-top: 6px;
}

.slider-container .slider-popover .slider-popover-tip span{
  padding-left: 5px;
}

.slider-container .rc-slider-wrapper {
  margin: 0 50px;
  position: relative;
}

.slider-container .marks-container {
  position: relative;
  margin: 0px;
  height: 20px;
}

.slider-container .marks-container li,
.slider-container .marks-container .mark-label {
  position: absolute;
  font-size: 10px;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.font-light { font-weight: 300; }
.font-normal { font-weight: 400; }
.font-semibold { font-weight: 600; }
.font-bold { font-weight: 700; }

.rc-slider .rc-slider-step {
  top: 5px;
}

.rc-slider .rc-slider-handle:after,
.rc-slider .rc-slider-handle:before {
  bottom: -6px;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.rc-slider .rc-slider-handle:after {
  border-color: rgba(195, 195, 195, 0);
  border-bottom-color: #c3c3c3;
  border-width: 8px;
  margin-left: -8px;
}
.rc-slider .rc-slider-handle:before {
  border-color: rgba(179, 179, 179, 0);
  border-bottom-color: #b3b3b3;
  border-width: 9px;
  margin-left: -9px;
}

.rc-slider .rc-slider-step .rc-slider-dot {
  width: 6px;
  height: 6px;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(0,0,0,.4);
  -webkit-box-shadow: 0 1px rgba(255,255,255,.35), inset 0 0 1px rgba(0,0,0,.75);
  -moz-box-shadow: 0 1px rgba(255,255,255,.35), inset 0 0 1px rgba(0,0,0,.75);
  box-shadow: 0 1px rgba(255,255,255,.35), inset 0 0 1px rgba(0,0,0,.75);
}

.header .header-title {
  font-size: 32px;
  color: #404040;
  text-shadow: 0 1px rgba(255,255,255,.4);
  margin-top: 40px;
  margin-bottom: 20px;
}

.header .header-info {
  position: relative
}

.header .header-timer {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 30px;
  height: 36px;
  padding: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(0,0,0,.03);
  border: solid 1px #a6a6a6;
}

.header .header-timer span {
  font-size: 14px;
}

.product-container {
  padding: 0 30px;
}

.product-container .product {
  display: inline-block;
  position: relative;
  height: 274px;
  width: 305px;
  background-repeat: no-repeat;
  background-position-x: right;
}

.product-container .product.bg-shift-top {
  background-position-y: -30px;
}

.product-container .product:last-child {
  width: 280px;
}

.product-container .product .product-description{
  width: 280px;
}

.product-container .product .product-plus {
  position: absolute;
  top: 66px;
  right: 0;
}

.product-container .product .product-logo {
  height: 155px;
}

.product-container .product .product-details {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.product-container .product .product-details p {
  font-size: 12px;
  line-height: 20px;
  padding: 8px 0;
  margin: 0;
}

.product-container .product .product-details a {
  color: #333;
  position: relative;
  text-decoration: none;
}

.product-container .product .product-details a:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border: 1px dotted;
}

.product-container .product .product-unlocked {
  margin-top: 15px;
}

.product-container .product .product-unlocked i {
  margin-right: 6px;
}

.product-container .product .product-unlocked span {
  font-size: 12px;
  line-height: 14px;
}

.product-container .product .product-unlocked .is-unlocked {
  color: #608000;
}

.promo-footer .footer-title-preset {
  font-size: 14px;
  position: relative;
}

.promo-footer .footer-title-preset:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  border-bottom: 1px solid #bfbfbf;
  z-index: -1;
}

.promo-footer .footer-title-preset .title-span {
  padding: 0 10px;
}

.promo-goodies .goodies-title {
  position: relative;
  margin-top: 15px;
}

.promo-goodies .goodies-list li {
  margin: 25px 0;
}

.promo-goodies .goodies-list li i {
  margin-bottom: 15px;
}

.promo-goodies .goodies-list li p {
  margin-top: 10px;
  margin-bottom: 0;
}

.promo-footer .promo-goals .promo-goals-counter {
  text-align: center;
  margin: 20px 0;
}

.promo-footer .promo-goals .promo-goals-counter .goal-counter-digit {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 40px;
  margin-right: 2px;

  font-weight: 500;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,.35);

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #595959;
  -webkit-box-shadow: 0 1px rgba(255,255,255,.85), inset 0 0 2px rgba(0,0,0,.3);
  -moz-box-shadow: 0 1px rgba(255,255,255,.85), inset 0 0 2px rgba(0,0,0,.3);
  box-shadow: 0 1px rgba(255,255,255,.85), inset 0 0 2px rgba(0,0,0,.3);
  background-image: -webkit-linear-gradient(top, #a6a6a6, #bfbfbf);
  background-image: -moz-linear-gradient(top, #a6a6a6, #bfbfbf);
  background-image: -o-linear-gradient(top, #a6a6a6, #bfbfbf);
  background-image: -ms-linear-gradient(top, #a6a6a6, #bfbfbf);
  background-image: linear-gradient(to bottom, #a6a6a6, #bfbfbf);
}

.promo-footer .promo-goals .promo-goals-counter .goal-counter-digit:after,
.promo-footer .promo-goals .promo-goals-counter .goal-counter-digit span {
  content: "8";
  font-family: "DS Digital";
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,.35);
}

.promo-footer .promo-goals .promo-goals-counter .goal-counter-digit:after {
  opacity: .15;
}

.promo-footer .promo-goals .promo-goals-counter .goal-counter-dot {
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #9b9b9b;
  margin: 0 4px 0 2px;
  vertical-align: bottom;
  @include box-shadow(0 1px rgba(255,255,255,.85));
}

.promo-footer .promo-goals .promo-goals-slider {
  margin: 0 25px;
}

.goals-slider-item .item-description {
  margin-top: 12px;
}

.goals-slider-item .thumbnail-size {
  width: 260px;
}

.goals-slider-item .goals-slider-item-thumbnail a {
  position: relative;
  display: inline-block;
  margin: 12px auto;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.45);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,.45);
  box-shadow: 0 1px 5px rgba(0,0,0,.45);
  border: solid 7px #fff;
}

.goals-slider-item .goals-slider-item-thumbnail img {
  margin: 0 auto;
}

.goals-slider-item .goals-slider-item-thumbnail .thumbnail-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
}

.slick-slider {
  margin-bottom: 0;
}

.slick-prev,
.slick-next {
  top: 60%;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  color: rgba(255,255,255,.6);
  -webkit-border-radius: 12px 11px 11px 12px/12px 12px 11px 11px;
  -moz-border-radius: 12px 11px 11px 12px/12px 12px 11px 11px;
  border-radius: 12px 11px 11px 12px/12px 12px 11px 11px;
  background-color: rgba(100,100,100,.6);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,.25), 0 0 0 rgba(0,0,0,.3), inset 0 1px rgba(255,255,255,.35), inset 0 0 3px rgba(255,255,255,.15);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,.25), 0 0 0 rgba(0,0,0,.3), inset 0 1px rgba(255,255,255,.35), inset 0 0 3px rgba(255,255,255,.15);
  box-shadow: 0 0 1px rgba(0,0,0,.25), 0 0 0 rgba(0,0,0,.3), inset 0 1px rgba(255,255,255,.35), inset 0 0 3px rgba(255,255,255,.15);
  background-image: -webkit-linear-gradient(bottom, rgba(192,192,192,.5), rgba(241,241,241,.5));
  background-image: -moz-linear-gradient(bottom, rgba(192,192,192,.5), rgba(241,241,241,.5));
  background-image: -o-linear-gradient(bottom, rgba(192,192,192,.5), rgba(241,241,241,.5));
  background-image: -ms-linear-gradient(bottom, rgba(192,192,192,.5), rgba(241,241,241,.5));
  background-image: linear-gradient(to top, rgba(192,192,192,.5), rgba(241,241,241,.5));
}

.promo-goals-slider .thumbnail-navigation {
  margin: 0 14px;
}

.promo-goals-slider .thumbnail-navigation button {
  width: 58px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #cbcbcb;
  -webkit-box-shadow: 0 1px rgba(255,255,255,.35);
  -moz-box-shadow: 0 1px rgba(255,255,255,.35);
  box-shadow: 0 1px rgba(255,255,255,.35);
  border: solid 1px #a6a6a6;
}

.promo-goals-slider .thumbnail-navigation button i {
  margin-top: 3px;
}

.promo-goals-slider .thumbnail-navigation button:focus {
  outline: 0;
}

.promo-goals-slider .thumbnail-navigation button.active {
  background-color: rgba(0,0,0,0);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  -moz-box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-image: -webkit-linear-gradient(bottom, #d9d9d9, #a6a6a6);
  background-image: -moz-linear-gradient(bottom, #d9d9d9, #a6a6a6);
  background-image: -o-linear-gradient(bottom, #d9d9d9, #a6a6a6);
  background-image: -ms-linear-gradient(bottom, #d9d9d9, #a6a6a6);
  background-image: linear-gradient(to top, #d9d9d9, #a6a6a6);
}

.circular-progress {
  margin-top: 25px;
}

.circular-progress .CircularProgress {
  background-color: rgba(0,0,0,.2);
  border: 2px solid rgba(0,0,0,.2);
  border-radius: 100%;
}

.circular-progress .CircularProgress-Fg {
  stroke: rgb(208,208,208);
  transform-origin: center;
  transform: rotate(-90deg);
}

.circular-progress .CircularProgress-Bg {
  stroke: rgba(0,0,0,0);
}

.circular-progress .CircularProgress-Text {
  fill: rgb(218,218,218);
  font-size: 25px;
  font-family: "Open Sans";
  font-weight: 700;
}

.rc-slider-mark span:before,
.rc-slider-mark span:after {
  content: " ";
}