.timer {
  display: inline-block;
  height: 36px;
  padding: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(0,0,0,.03);
  border: solid 1px #a6a6a6;
}

.timer span {
  font-size: 14px;
}